html, body {
  font-size: 16px;
}

* {
  font-family: 'Rubik', sans-serif;
}

.index-background {
  background: #2F3939;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background: url("../img/bg-main.svg") no-repeat center center;
    //background-size: 100% auto;
    width: 2475px;
    height: 890px;
    position: absolute;
    bottom: -175px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.display-1 {
  font-size: 5.75em;
}

.h2 {
  font-size: 2.875em;
}

.h3 {
  font-size: 2.25em;
}

.logo {
  background: url("../img/main-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 257px;
  height: 95px;
  display: block;
}

.header-group-btn {
  margin-left: auto;
  display: flex;
  align-items: center;

  a:last-child {
    margin-left: 20px;
  }
}

.btn.btn-minerlink {
  border-radius: 35px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 185px;
  font-size: 1em;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.1px;
}

.btn.btn-minerlink-big {
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bg {
  background: #2F3939;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-bg_img {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background: url("../img/main-bg_img.svg") no-repeat center;
    width: 2475px;
    height: 890px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 230px;
  }
}


.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  padding: 22px 44px;
  margin-right: 15px;
  border-color: #009CB8 #009CB8 #009CB8;
  border-radius: 32.5px;
  color: #FFFFFF;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 21px;
  letter-spacing: 0.1125px;

  &:hover {
    background-color: #007c92;
    border-color: #007185;
    transition: 0.3s;
  }
}

.nav-tabs .nav-link.active {
  background-color: #009CB8;
  border-color: #009CB8 #009CB8 #009CB8;
  color: #FFFFFF;
}