.form-section {
  margin-top: 200px;
  position: relative;
  z-index: 1;
  padding-bottom: 262px;
  display: flex;
  align-items: flex-start;
}

.form {
  width: 357px;
  background: #009CB8;
  border-radius: 20px;
  padding: 56px 53px 36px 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_sign-in {
  margin-left: auto;
  margin-right: auto;
}

.form__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-group {
    margin-bottom: 30px;
  }

  input {
    background: #FFFFFF;
    border-radius: 35px;
    width: 100%;
    height: 70px;
    padding-left: 34px;
    line-height: 19px;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #2F3939;
  }

  label {
    mix-blend-mode: normal;
    opacity: 0.6;
    font-size: .875em;
    line-height: 17px;
    letter-spacing: 0.0875px;
    color: #FFFFFF;
    margin-bottom: 7px;
  }

  button {
    margin-top: 33px;
  }
}

.form__title {
  font-weight: 500;
  font-size: 2.25em;
  line-height: 43px;
  letter-spacing: 0.225px;
  color: #FFFFFF;
  text-align: center;
  display: block;
  margin-bottom: 55px;
}

.form__block-text {
  font-size: 0.75em;
  line-height: 14px;
  letter-spacing: 0.075px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 13px;
}

.form__block-link {
  font-size: 0.75em;
  line-height: 14px;
  letter-spacing: 0.075px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 27px;
}

.form_register {
  margin-left: auto;
  margin-right: auto;
}

//.form_register-two {
//  margin-right: auto;
//  margin-left: 16px;
//}

.form__title.form__title-register {
  margin-bottom: 26px;
}

.form__subtitle {
  font-weight: 500;
  font-size: 1em;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.form__caption {
  font-weight: 500;
  font-size: 1em;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.form__subject {
  font-size: .875em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0875px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  display: block;
  margin-bottom: 36px;
}

.form-section__error {
  color: $red;
  font-size: .875em;
  line-height: 17px;
  letter-spacing: .0875px;
  margin-bottom: 7px;
  mix-blend-mode: normal;
  margin-top: -24px;
  display: none;
}

.form-section__error.show {
  display: block;
}

.valid-feedback {
  font-size: .75em;
  color: #FFFFFF;
}

.invalid-feedback {
  font-size: .75em;
  color: #FFFFFF;
}

.form__block.form__block-register {
  flex-direction: row;
  align-items: flex-start;
}