.first-screen {
  margin-top: 112px;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;

  .display-1 {
    line-height: 109px;
    letter-spacing: 0.575px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
  }
}

.first-screen__container {
  position: relative;
}

.first-screen__section {
  margin-top: 72px;
  margin-bottom: 165px;
}

.first-screen__block-shadow {
  width: 400px;
  height: 300px;
  position: absolute;
  background: #009CB8;
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 20px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -50px;
}

.first-screen__arrow {
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.first-screen__block {
  background: #009CB8;
  border-radius: 20px;
  max-width: 455px;
  width: 100%;
  height: 467px;
  position: relative;
  z-index: 2;
}

.first-screen__block-cryptocurrency {
  display: flex;
  flex-wrap: wrap;
  padding: 78px;
  justify-content: space-between;
}

.first-screen__logo-btc,
.first-screen__logo-ltc,
.first-screen__logo-xrp {
  background-size: 100% auto;
  width: 127px;
  height: 127px;
  display: block;
}

.first-screen__logo-eth {
  background-size: 100% auto;
  width: 78px;
  height: 127px;
  display: block;
  margin-left: 12px;
}

.first-screen__logo-xrp {
  margin-right: 12px;
}

.first-screen__logo-btc,
.first-screen__logo-ltc {
  margin-bottom: 54px;
}

.first-screen__block-currencies {
  display: flex;
  flex-wrap: wrap;
  padding: 125px 87px;
  justify-content: space-between;
}

.first-screen__block-currencies-logo {
  display: flex;
  align-items: center;
}

.first-screen__logo-sepa {
  background-size: 100% auto;
  width: 280px;
  height: 121px;
  display: block;
  margin-bottom: 12px;
}

.first-screen__logo-visa {
  background-size: 100% auto;
  width: 145px;
  height: 60px;
  display: block;
}

.first-screen__logo-mc {
  background-size: 100% auto;
  width: 108px;
  height: 84px;
  display: block;
}