.first-screen {
  margin-top: 112px;
  padding-bottom: 90px;

  .display-1 {
    line-height: 109px;
    letter-spacing: 0.575px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
  }
}

