.privacy-policy-container {
  max-width: 942px;
  width: 100%;
  color: #FFFFFF;
}

.privacy-policy-block {
  margin-bottom: 90px;
}

.privacy-policy-block__title {
  font-weight: 500;
  font-size: 1.375em;
  line-height: 26px;
  letter-spacing: 0.1375px;
  color: #FFFFFF;
  margin-bottom: 27px;
  display: block;
}

.privacy-policy-block__text {
  font-size: 1em;
  line-height: 26px;
  letter-spacing: 0.1px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 0;
}

.privacy-policy-section__title {
  text-align: center;
  font-weight: 500;
  font-size: 2.25em;
  line-height: 43px;
  letter-spacing: 0.225px;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.privacy-policy-section {
  margin-top: 130px;
}